@import 'config.scss';
 
.board-columns{
  display: flex;
  overflow-x: auto;
  margin: 0 $gap $gap;
  &::-webkit-scrollbar{
    -webkit-appearance: none;
  }
  &::-webkit-scrollbar:horizontal{
  height: 10px;
  
 }
 &::-webkit-scrollbar-thumb{
   background-color: darken(#333,1);
   border-radius: 5px;
  }

  .column{
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});
    &:not(:first-child){
      margin-left: $gap;
    }
    > *{
      background-color: #ebecf0;
      color: #333;
      padding: 0 8px;

    }
    header{
      padding-left: 15px;
      height: $column-header-height;
      line-height: $column-header-height;
      font-size: 16px;
      font-weight: bold;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    footer{
      padding-left: 10px;
      height: $column-header-height;
      line-height: $column-header-height;

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    ul{
      list-style-type: none;
      margin: 0;
      max-height: calc(100% - #{$column-header-height} - #{$column-header-height});
      overflow-y: auto;
     &::-webkit-scrollbar{
       -webkit-appearance: none;
     }
     &::-webkit-scrollbar:vertical{
     width: 11px;
     
    }
    &::-webkit-scrollbar-thumb{
      background-color: darken($main-bg-color,5);
      border-radius: 5px;
     }
      li{
        background-color: $main-text-color;
        padding: $gap;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0, 0,0,0.1);
        &:not(:last-child){
          margin-bottom: $gap;
        }
        img{
          display: block;
          width: calc(100% + 2*#{$gap});
          margin: -$gap 0 $gap (-$gap);
          border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        }

      }
    }
  }
}