@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "~bootstrap/scss/bootstrap";


body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


$main-bg-color: #a2bed1;
$appbar-bg-color: #053a5e;
$main-text-color: #fff;
$gap: 10px;
$column-header-height: 36px;

.trello{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  // display: grid;
  // grid-template-rows: 40px 50px 1fr;
  overflow: hidden;
  line-height: 1.3em;
  background-color: $main-bg-color;
  color: $main-text-color;
  .icon{
    font-size: 14px;
    margin-right: 3px;
  }
  .btcontainer-cus{
    margin: 0 15px;
    padding: 0
  }
  textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}
.btn:focus, .bnt:active{
  outline: none;
  box-shadow: none;
}
}