@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$navbar-app-height: 7vh;
$navbar-board-height: 5vh;
$board-content-height: 88vh;

$app-main-text: #333;
$main-bg-color: #334155;
$appbar-bg-color: #0f172a;
$main-text-color: #fff;
$gap: 10px;
$column-header-height: 36px;

// responsive
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';